.main {
  margin: 0px 100px;
  padding: 35px 50px;

  @include media-query(medium) {
    margin: 0px 5%;
  }

  @include media-query(large) {
    margin: 0 2%;
  }

  @include media-query(xxlarge) {
    margin: 0 5%;
  }

  &__title {
    position: absolute;
    display: flex;
    align-items: flex-end;
    color: $white;
    width: 705px;
    height: 68px;
    margin-top: 249px;
    margin-left: 373px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;

  }
}

.singleproduct {
  @include media-query(small) {
    margin: 0 2%;
  }

  @media screen and (min-width:1024px) {
    margin: 0 5%;
  }
}